
.vs/ProjectSettings.json
.vs/slnx.sqlite
*.vsidx
.vs/stewrubenstein-com/config/applicationhost.config
.vs/stewrubenstein-com/FileContentIndex/read.lock
.vs/VSWorkspaceState.json
.vs/stewrubenstein-com/v17/.suo
